{% extends 'layout.html'%}

{%block body%}
<h3>仪表参数设定</h3>
<hr>
{% from "includes/_formhelpers.html" import render_field %}
<form method="POST" action="">
  <div class="form-group">
    {{ render_field(form.n, class_="form-control") }}
  </div>
  
  <div class="form-group">
    {{ render_field(form.d, class_="form-control", id="editor") }}
  </div>
  <div class="form-group">
    {{ render_field(form.v, class_="form-control", id="editor") }}
  </div>
  <p><input class="btn btn-primary" type="submit" value="提交">
</form>
{% endblock %}
