{% extends "layout.html" %}<!--继承基础模板-->


{% block scrip%}
    <script src="{{ url_for('static', filename='js/socket.io.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/echarts.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/raphael-2.1.4.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/justgage.js')}}"></script>
{% endblock%}

{% block body %}
<div class="container">
    <div class="row clearfix">
        <div class="row clearfix">
            <div class="widget-header">
                <h4>实时曲线</h4>
            </div>

            <div class="widget-content" id="main" style="height:380px;border:1px solid #ccc;">
            </div>
        </div>
    </div>
    <br>
    <div class="row clearfix">

        <div class="widget-header" > 
            <h4> 读取时间: {{ time }} <a href="/" class="btn btn-success">刷新</a></h4>
        </div>

        <div class="row clearfix" >

            <div class="col-md-3 widget-content" id="g1" 
                 style="height: 250px;border:1px solid #ccc;">
            </div>

            <div class="col-md-3 widget-content" id="g2" 
                 style="height: 250px;border:1px solid #ccc;">
            </div>

            <div class="col-md-3 widget-content" id="g3" 
                 style="height: 250px;border:1px solid #ccc;">
            </div>

            <div class="col-md-3 widget-content" id="g4" 
                 style="height: 250px;border:1px solid #ccc;">
            </div>
        </div>
    
    </div>
</div>
  

<script type="text/javascript">

    var myChart = echarts.init(document.getElementById('main'));
    var option = {
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['实时温度', '预设温度']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            data: []
        },
        yAxis: {},
        series: [{
            name: '实时温度',
            type: 'line',
            data: []
        }, {
            name: '预设温度',
            type: 'line',
            data: []
        }]
    };
    myChart.setOption(option);

    var time = ["", "", "", "", "", "", "", "", "", ""],
        temp = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
    pres = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

    var update_mychart = function (res) {

        myChart.hideLoading();
        time.push(res.data[0]);
        temp.push(parseFloat(res.data[1]));
        pres.push(parseFloat(res.data[2]));
        if (time.length >= 10) {
            time.shift();
            temp.shift();
            pres.shift();
        }
        
        myChart.setOption({
            // 填入数据
            xAxis: {
                data: time
            },
            series: [{
                name: '实时温度',
                data: temp
            }, {
                name: '预设温度',
                data: pres
            }]
        });
    };


    myChart.showLoading(); // 首次显示加载动画

    $(document).ready(function () {
         // 建立socket连接，等待服务器“推送”数据，用回调函数更新图表
        namespace = '/test';
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
        socket.on('server_response', function (res) {
            update_mychart(res);
        });

    });

  var g1, g2, g3, g4;
  document.addEventListener("DOMContentLoaded", function(event) {
      g1 = new JustGage({
      id: "g1",
      value: {{channel_1}},
      valueFontColor: "#000000",
      min: 10,
      max: 250,
      title: "温度(℃)",
      label: "1"
        });
      g2 = new JustGage({
      id: "g2",
      value: {{channel_2}},
      valueFontColor: "#000000",
      min: 10,
      max: 250,
      title: "温度(℃)",
      label: "2"
        });
      g3 = new JustGage({
      id: "g3",
      value: {{channel_3}},
      valueFontColor: "#000000",
      min: 10,
      max: 250,
      title: "温度(℃)",
      label: "3"
        });
      g4 = new JustGage({
      id: "g4",
      value: {{channel_4}},
      valueFontColor: "#000000",
      min: 10,
      max: 250,
      title: "温度(℃)",
      label: "4"
        });
    });


</script>

{% endblock %}