{% extends 'layout.html'%}

{%block body%}


<div class="container">
    <h1>风口阀门设置</h1>

    <br>
    <!-- <a href="/vent" class="btn btn-success btn-md pull-right" role="button">刷新</a>&emsp;&emsp; -->
    
    <hr>


    <table class="table table-striped">
        <tr>
            <th>时段</th>
            <th>温度(℃)</th>
            <th>时间(min)</th>
            <th>开口(%)</th>
            <th></th>
 
     
        </tr>
        {% for row in data %}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
            <td><a href="editvent/{{row[0]}}" class="btn btn-primary btn-sm ">设置</a></td>
            <td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}